@import './quasar.variables.scss';
// @import '~quasar-styl';
// @import '~quasar-addon-styl';

.bg-dark-page {
  background-color: $dark-page !important;
}
.bg-shadow {
  background-color: $shadow !important;
}
.bg-shadow-2 {
  background-color: $shadow-2 !important;
}
.bg-shadow-3 {
  background-color: $shadow-3 !important;
}

.text-primary {
  color: $primary !important;
}
.bg-primary {
  background-color: $primary !important;
}

.text-link {
  color: $link !important;
}
.bg-link {
  background-color: $link !important;
}

.text-light-red {
  color: $light-red !important;
}
.bg-light-red {
  background-color: $light-red !important;
}

.text-dark-red {
  color: $dark-red !important;
}
.bg-dark-red {
  background-color: $dark-red !important;
}

.text-grey-15 {
  color: $grey-15 !important;
}
.bg-grey-15 {
  background-color: $grey-15 !important;
}

.text-grey-16 {
  color: $grey-16 !important;
}
.bg-grey-16 {
  background-color: $grey-16 !important;
}

.text-grey-17 {
  color: $grey-17 !important;
}
.bg-grey-17 {
  background-color: $grey-17 !important;
}

.border-negative {
  border-color: $negative !important;
}
